@import "../abstracts/variables";

:root {
  font-family: $ff-primary;
  color: $fontColor;
  background-color: black;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.app {
  margin: 0 auto;
  max-width: 1280px;
  min-height: 100vh;
  border-radius: 15px;
  background-color: $clr-tertiary;
}

@media (min-width: 800px) {
  .app {
    padding: 0 100px;
    margin-top: 4vh;
    min-height: 92vh;
    flex-wrap: wrap;
  }
}
