@import "~bootstrap/scss/bootstrap";
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  padding-left: 2rem;
  background-color: gray;
  list-style: none;
  color: white;
}

nav li:hover {
  background-color: orange;
}
