@import "~bootstrap/scss/bootstrap";
body {
  // display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: brown;
}

nav li {
  list-style: none;
  color: brown;
}

nav li:hover {
  color: rgba(226, 98, 98, 0.698);
}

.app {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 2px;
  min-height: 100vh;
  border-radius: 15px;
  flex-direction: column;
  background-color: lightyellow;
}

@media (min-width: 800px) {
  .app {
    padding: 0 100px;
    margin-top: 5vh;
    min-height: 90vh;
  }
}
h2,
.link {
  margin-left: 30px;
}
.home,
.contact,
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.split {
  width: 100%;
  padding-right: 25px;
}
.navBar {
  display: flex;
  display: inline-block;
  width: 100vw;
  height: 10vh;
  background-color: brown;
  border: solid 1px red;
}
