.about {
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  h3 {
    color: $clr-secondary;
    margin: 1rem 4rem 0.5rem 0rem;
  }
  p {
    font-size: 1.3rem;
    text-align: justify;
  }
}
