.button-design {
  border-radius: 9px;
  padding: 0.1em 0.3em;
  margin-top: 1rem;
  font-family: inherit;
  font-size: 1.4em;
  background-color: $clr-secondary;
}
.button-design:hover {
  transform: scale(1.4);
  transition: 0.7s;
  background-color: $clr-primary;
  color: $clr-neutral-100;
}
