.button-design {
  border-radius: 9px;
  padding: 0.1em 0.3em;
  margin-top: 1rem;
  font-family: inherit;
  font-size: 1.2em;
  background-color: $clr-secondary;
  align-items: center;
}
.button-design:hover {
  transform: scale(1.3);
  transition: 0.7s;
  background-color: $clr-primary;
  color: $clr-neutral-100;
}
.link-container {
  margin-left: 2rem;
}
