nav li {
  list-style: none;
  font-size: 1.4rem;
  color: $clr-neutral-900;
}

nav li:hover {
  color: $clr-secondary;
  transform: scale(1.4);
}
.main-heading {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: $clr-primary;
  border-radius: 0.5rem;
  color: $clr-neutral-100;
  text-align: center;
}

h2,
.link,
.address {
  margin-left: 30px;
}
.address,
.person {
  padding-left: 50px;
}
.home,
.contact,
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.split {
  width: 100%;
  padding-right: 25px;
}
