.footer-wrapper {
  text-align: center;
  color: $clr-neutral-900;
  padding: 20px;
  bottom: 0;
  width: 100%;
  .social-wrapper {
    font-size: 1.4rem;
    .social {
      color: $clr-primary;
      font-size: 2rem;
      margin: 1rem;
    }
    .social:hover {
      color: $clr-secondary;
      transform: scale(1.5);
      transition: 0.5s;
    }
  }
}
.copyright {
  font-size: 1.3rem;
}
