.navBar {
  display: flex;
  display: inline-block;
  width: 100vw;
  height: 10vh;
}
nav li {
  list-style: none;
  font-size: 1.4rem;
  color: $clr-neutral-900;
}

nav li:hover {
  color: $clr-secondary;
  transform: scale(1.2);
  transition: 0.2s;
}
